.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-bottom: 10%;
}

.row-display {
  width: 650px;
  height: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.left {
  align-self: start;
  justify-self: end;
  padding: 10px;
  margin-top: 10px;
  width: 650px;
  height: 350px;
  box-sizing: border-box;
}

.right {
  align-self: start;
  justify-self: start;
  margin-top: 10px;
  padding: 10px;
  width: 650px;
  height: 350px;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.title-name {
  font-size: 1.5rem;
}

.title-empty {
  margin: auto;
  padding: 10px;
}

.page {
  display: grid;
  height: 100%;
}

.chart-title {
  display: flex;
  justify-content: center;
}

.metric {
  color: rgb(90, 190, 236);
  font-size: 25px;
}
