/* Styling for React components */
.list {
  text-align: left;
  margin: auto;
}

a {
  color: rgb(9, 50, 92);
}

a:hover {
  text-decoration: none;
}

.link {
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: rgb(9, 50, 92);
  cursor: pointer;
}

.info {
  display: none;
}

.list {
  font: #fff;
  font-size: 0.85rem;
  padding: 10px;
}

.list-link:hover .info {
  display: block;
  font-size: 12px;
}

.input {
  min-width: 500px;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.btn {
  color: #fff;
  background-color: rgb(9, 50, 92);
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.title-name {
  font-size: 25px;
}

.ol {
  font: arial;
}