/* For react components */
.list {
  text-align: left;
  margin: auto;
}

a {
  color: #014282;
}

a:hover {
  text-decoration: none;
}

.link {
  color: #fff;
  cursor: pointer;
}

.link:hover {
  color: #014282;
  cursor: pointer;
}

.info {
  display: none;
}

.list-link:hover .info {
  display: block;
  font-size: 12px;
}

.input {
  min-width: 500px;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.btn {
  color: #fff;
  background-color: #014282;
  font-size: 0.85rem;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar {
  background-color: #014282;
}

/* .App-header {
  background-color: #014282;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
